section#register
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Register
    .row
      .col-lg-6
        dl.dl-horizontal
          dt Schedule:
          dd
            | October 8th 2021
            br
            | 5:00 PM: Application Deadline
            br
            | 5:00 PM - 6:00 PM: Stream Start
            br
            | 5:30 PM: Discord Check-In
            br
            | 6:00 PM - 9:00 PM: Main Event, Competition
      .col-lg-6
        dl.dl-horizontal
          dt Where?
          dd
            | Live at&nbsp;
            a(href="Twitch.tv/ludecat") twitch.tv/ludecat
            br
            | and in our&nbsp;
            a(href="https://discord.gg/ZNBgJsA") Discord
          dt What?
          dd
            strong Ludecathlon
            br
            a(href="https://en.wikipedia.org/wiki/Decathlon") Decathlon
            br
            a(href="https://translate.google.com/#en/la/The%20Game") Ludere → Play
          dt Contact
          dd
            | Florian Jindra&nbsp;
            a(href="mailto:hello@lude.cat") hello@lude.cat
    .row
      .col-lg-12.text-center
        p
          | You can only apply as a team right now. If you're searching for teammembers, just head over to our facebook page and write a post!
          //- | Registration will be opend soon! Please check back in a few days :) 
          br
          //- a(href="https://www.facebook.com/ludecatgaming/") Facebook Page
          a(href="https://www.instagram.com/ludecat.official/", target="_blank") Instagram Page
        a(href="https://forms.gle/sAhxc9t1RJLpVW9w6", target="_blank").btn.btn-lg.btn-primary Register
