section#sponsors
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Our Sponsors

    //- h4.text-center Please stay tuned. We will anounce this Ludecats sponsors very soon!
    .row
      //- .col-lg-2
      //-   a(href="https://www.bequiet.com/de")
      //-     img(src="images/sponsors/be-quiet.png").img-responsive
      //-   br.hidden-lg
      //- .col-lg-2
      //-   a(href="https://www.nerdic.org/")
      //-     img(src="images/sponsors/NERDIC_RGB_WortBildmarke_Hoch_W-01.png").img-responsive
      //-   br.hidden-lg
      //- .col-lg-2
      //-   a(href="https://www.pcgamingrace.com/")
      //-     img(src="images/sponsors/GloriousPCGamingRace.png").img-responsive
      //-   br.hidden-lg
      .col-lg-4
      .col-lg-2
        a(href="https://www.caseking.de/")
          img(src="images/sponsors/caseking.png").img-responsive
        br.hidden-lg
      .col-lg-2
        a(href="https://www.fritz-kola.de/")
          img(src="images/sponsors/fritz-kola_schwarz.png").img-responsive
        br.hidden-lg
      .col-lg-4

      .col-lg-12.tba
        p ...
      .col-lg-12.tba
        p More TBA
      //- .col-lg-2
      //-   a(href="https://www.mipumi.com/")
      //-     img(src="images/sponsors/Mipumi.png").img-responsive
      //-   br.hidden-lg
      //.col-lg-2
      //  a(href="https://aws.amazon.com/")
      //    img(src="images/sponsors/AWS.png").img-responsive
      //  br.hidden-lg
