section#sponsors
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Our Sponsors
    .row
      .col-lg-2
        a(href="https://www.betriebssport-salzburg.at/")
          img(src="images/sponsors/ak.png").img-responsive
        br.hidden-lg
      .col-lg-2
        a(href="https://www.willhaben.at/")
          img(src="images/sponsors/willhaben.png").img-responsive
        br.hidden-lg
      .col-lg-2
        a(href="https://www.fritz-kola.de/")
          img(src="images/sponsors/fritz-kola.png").img-responsive
        br.hidden-lg
      .col-lg-2
        a(href="https://www.institut-esports.de/")
          img(src="images/sponsors/ies.png").img-responsive
        br.hidden-lg
      .col-lg-2
        a(href="https://www.caseking.de/")
          img(src="images/sponsors/caseking.png").img-responsive
        br.hidden-lg
      .col-lg-2
        a(href="https://www.nerdic.org/")
          img(src="images/sponsors/nerdic.png").img-responsive
        br.hidden-lg
